/* Floating */

.floating { 
    animation-name: floating;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); }   
}

/* Shape */

.shape { 
    animation-name: shape;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
}
 
@keyframes shape {
    0% { filter: blur(175px); }
    50%  { filter: blur(90px); }
    100%   { filter: blur(175px); }   
}